<table align="center" border="0">
    <tr>
        <th width="150" style="text-align: center">
            <form action="{% url 'newproducttype' %}">
                <button type="submit" class="btn btn-primary">Product Type</button>
            </form>
        </th>
        <th width="150" style="text-align: center">
            <button type="submit" class="btn btn-secondary">Add Product</button></th>
        <th width="150" style="text-align: center">
            <button type="submit" class="btn btn-success">View Products</button></th>
        <th width="150" style="text-align: center">
            <button type="submit" class="btn btn-danger">Update Products</button></th>
        <th width="150" style="text-align: center">
            <button type="submit" class="btn btn-warning">Delete Product</button></th>
    </tr>
</table>